<!DOCTYPE html>
<html lang="en">
    { % load static %} 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>HOME</title>
</head>
<body>
    <h1>MY WEBSITE</h1>
    <h1>DJANGO WEBSITE</h1>
    <h2>my first django page</h2>
    {{home_date}}
    <img src="{% static 'image/abi.jpg' %}" alt="Buttrefly">
    <a href="index.html">HOME</a>
    <a href="contact.html">CONTACT</a>
    <a href="histry.html">HISTRY</a>
    
</body>
</html>